
a{
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    &:hover, &:focus{
       text-decoration:none;
       outline: none;
    }
}

ul{
    margin-bottom: 0;
}

h3{
    color: rgb(0, 148, 77); 
    font-weight: 400;
}