.top-bar{
    min-height: 2rem;
    background-color:#00944d;

    .contact-link {
        font-size: .87rem;
        position: relative;
    }
    .contact-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -1px;
        left: 0;
        background-color: currentColor;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: all .59s cubic-bezier(.4,0,.2,1) 0s;
    }
    .contact-link:hover:before {
        opacity: 1;
        visibility: visible;
        transform: scaleX(1);
    }
    ul{
        margin-bottom: 0;
    }

    @include media-breakpoint-down(md) { 
        ul:first-child{
            li a{
                font-size: 1.1rem;
            }
            flex-grow: 1;
            justify-content:space-between; 
        }
     }
}