.top-bar{
    min-height: 2rem;
    background-color: $white;
    border-bottom: 1px solid #dadada;
}

.services .list-group-item,
.about .contactDetails .list-group-item,
.navbar-light .navbar-nav .nav-link {
    color: $primary-link-color;
    &:hover, &:focus{
        color: #00944D;
    }
}

.services{
    .list-group-item{
        padding: 0.75rem 0;
    }
}

.about,
.footer{
    .list-group-item{
        padding: 0.40rem 0;
        
    }
    a.bg-dark:hover{
        background-color: transparent!important;
    }
}