.top-bar{
    min-height: 2rem;
    background-color: $white;
    border-bottom: 1px solid #dadada;
}
.contact .contactDetails .list-group-item,
.about .contactDetails .list-group-item,
.navbar-light .navbar-nav .nav-link {
    color: $primary-link-color;
    &:hover, &:focus{
        color: #00944D;
    }
}

.services{
    .list-group-item{
        color: $primary-link-color;
        padding: 0.75rem 0;
    }
}

.contact,
.about,
.footer{
    .list-group-item{
        padding: 0.40rem 0;
        
    }
    a.bg-dark:hover{
        background-color: transparent!important;
    }
}

.about{
    ol{
        list-style-type: decimal;
        padding-left: 20px;
    }
    ul{
        list-style-type: disc;
        padding-left: 20px;
    }

}
.article{
    h5{
        color: #333333;
    }
    ul{
        list-style-type: disc;
        padding-left: 20px;
    }
    a{
        color: #00944D;
        &:hover{
            color: #00944D;
        }
    }
}

.text-underline{
    text-decoration: underline;
    &:hover{
        text-decoration: underline;
        color: #00944D;
    }
}

.content{
    h5{
        color: #00944D;
    }
    a{
        color: #00944D;
        &:hover{
            color: #00944D;
        }
    }
}