.top-bar{
    min-height: 2rem;
    background-color: $white;
    border-bottom: 1px solid #dadada;
}

.navbar-light .navbar-nav .nav-link {
    color: $primary-link-color;
    &:hover{
        color: $primary-link-color-hover;
    }
}

.footer{
    .list-group-item{
        padding: 0.40rem 0;
    }
    a.bg-dark:hover{
        background-color: transparent!important;
    }
}