// contact links
.contact-link {
    font-size: .87rem;
    position: relative;
    color: $primary-link-color;
    
    &:hover{
        color: $primary-link-color-hover;
    }
}

// social media icons
$social-media-colors: (facebook: $fb-color, twitter: $twitter-color, googleplus: $google-plus-color);

@each $social-media, $social-media-color in $social-media-colors {
    .#{$social-media}{
        color: $primary-link-color;
    }
    .#{$social-media}:hover {
        color: $social-media-color;
    }

    .#{$social-media}:active {
        color: $social-media-color;
    }
}