// contact links
.contact-link {
    font-size: .87rem;
    position: relative;
    color: $primary-link-color;
    
    &:hover{
        color: #00944D;
    }
}

// social media icons
$social-media-colors: (facebook: $fb-color, twitter: $twitter-color, linkedin: $linkedin-color);

@each $social-media, $social-media-color in $social-media-colors {
    .#{$social-media}{
        color: $primary-link-color;
    }
    .footer-#{$social-media}{
        color: white;
    }
    .#{$social-media}:hover {
        color: $social-media-color;
    }
    .footer-#{$social-media}:hover{
        color: $social-media-color;
    }
    .#{$social-media}:active {
        color: $social-media-color;
    }
    .footer-#{$social-media}:active {
        color: $social-media-color;
    }
}