//colors
$primary-color: #333;
$primary-link-color: rgba($black, .7) !default;
$primary-link-color-hover: rgba($black, .9) !default;

// Social Media Icons
$fb-color: #3b5998 !default;
$twitter-color: #00aced !default;
$google-plus-color: #dd4b39 !default;
